miles.json
vsc.bat
winehq.key
error_log
config/temp_mysql.ini
**/frameworks
**/node_modules
**/vendor
**/projects
**/project
**/lib
**/.vscode
**/webservice/servicos/pagseguro/log
**/webservice
**/ecommerce
**/nodejs
**/error_log
